
{% trans_default_domain 'FOSUserBundle' %}
<style>
.wrapper{
margin-top: 250px;
border-radius: 5px;
padding: 15px 50px 25px;
border-top: 6px solid #CE2347;

font-weight: bold;
font-family: "arial black",;
/*Animation fenetre*/
transition: all .3s ease-in;
}
.wrapper:hover{
/*Animation formulaire*/
transition: all .9s ease-in-out;

border-top: 6px solid dodgerblue;
}
.wrapper h3{
font-weight: bold;
font-family: "arial black",;
}
html body form .btn-primary{
background-color: crimson;
border-color: white;
}
body form label{
margin-bottom: 10px;
}
html body form .btn-primary:hover{
/*background-color:darkslategray;*/
background-color:darkcyan;
}
.no-compte{
color: white;
text-decoration: none;
padding-top: 15px;
}
.no-compte>a{
text-decoration: none;
color: white;
}
.no-compte a:hover{
text-decoration:underline;
color: white;
border-bottom: 1px solid #FF0000;
}
.btn-primary a:hover{
text-decoration: none;
color: white;
}
.btn-primary a{
text-decoration: none;
color: white;
}
.oblig{
font-size: 10px;
}

.btn{
  margin-top: 50px;
}



</style>
    <div class="container">
      <div class="row">
        <div class="wrapper text-center col-md-offset-3 col-md-6">
          <h3>Modification du profil </h3>

       {{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
      {#{ form_widget(form) }#}

      <div class="form-group">
        {{ form_label(form.username) }}
        {{ form_widget(form.username, {'attr': {'class':'form-control'}}) }}
        {{ form_errors(form.username) }}
      </div>

      <div class="form-group">
        {{ form_label(form.email) }}
        {{ form_widget(form.email, {'attr': {'class':'form-control'}}) }}
        {{ form_errors(form.email) }}
      </div>
      

      <div class="form-group">
        {{ form_label(form.current_password) }}
        {{ form_widget(form.current_password, {'attr': {'class':'form-control'}}) }}
        {{ form_errors(form.current_password) }}
      </div>
      
      

      <div class="col-md-12 text-center">
        <input id="envoyer" type="submit" class="btn btn-danger" value="Mettre à jour" />
      </div>

      {{ form_end(form) }}</div>
  </div>
