<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>
        {% block stylesheets %}
        <!--<link rel="stylesheet" href="{{asset('css/styles.css')}}">-->
        <link rel="stylesheet" href="{{asset('css/bootstrap.min.css')}}">
        {% endblock %}

        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <style>

    body{background-image: url(https://pixabay.com/static/uploads/photo/2016/05/28/00/06/gift-1420830_960_720.jpg);background-repeat: no-repeat;background-size: cover;}

    .navbar-brand>img {display: block;}

    .navbar{background-color: darkcyan;}
    .navbar-default{border-radius: 0px; border-color: darkcyan;}
    .navbar-default .navbar-nav>li>a:hover {color: white;}
    .navbar-default .navbar-nav>li>a {
    color: #fff;
}
    body{}
    img{width : 50px ; height : auto;}

    .navbar-brand {
    float: left;
    height: 50px;
    padding: 0px 0px;
    font-size: 18px;
    line-height: 20px;
}

.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #fff;
    background-color:transparent; ;
}

body .btn-primary, btn1 {
    padding-bottom: 0px;
    margin-left: 0px; */
    margin-top: 0vh; */
    background-color: red;
    border-color: red;
}

.wrapper {
    background-color: #008b8b;
}
.wrapper h3 {
    font-weight: bold;
    font-family: "arial black",;
    color: white;
   padding-top: 0px;
   transition: all .3s ease-in;
}
    </style>
    <body>
      <nav class="navbar navbar-default  col-md-12">
<div class="container-fluid">
  <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>

    <div class="row">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img class="img-responsive" alt="Brand" src="{{asset('espace-don.png')}}">
      </a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="#">ESPAce DON <3 <span class="sr-only">(current)</span></a></li>
    </ul>
    </div>
  </div>
<!-- Brand and toggle get grouped for better mobile display -->



<!-- Collect the nav links, forms, and other content for toggling -->
<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">


<ul class="nav navbar-nav navbar-right" >
  <li class="nav-item">
           {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
               <a class="nav-link" href="{{ path('fos_user_profile_edit') }}">
                   Connecté en tant que: {{ app.user.username }}</a>

           {% else %}
               <a class="nav-link"
                  href="{{ path('fos_user_security_login') }}">{{ 'Connexion'|trans({}, 'FOSUserBundle') }}</a>
           {% endif %}
       </li>
       <li class="nav-item">
           {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
               <a class="nav-link"
                  href="{{ path('fos_user_security_logout') }}">
                   {{ 'Se deconnecter'|trans({}, 'FOSUserBundle') }}
               </a>
           {% else %}
<!--
               <a class="nav-link"
                  href="{{ path('fos_user_registration_register') }}">{{ 'Inscription'|trans({}, 'FOSUserBundle') }}</a>
-->
                 <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false"><i class="fa fa-edit" aria-hidden="true"></i> Inscription<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                      <li><a href="/register/association"><i class="fa fa-group" aria-hidden="true"></i>  Association</a></li>
                      <li role="separator" class="divider"></li>
                      <li><a href="/register/particulier"><i class="fa fa-user" aria-hidden="true"></i>  Particulier</a></li>
                    </ul>
                  </li>
           {% endif %}
       </li>




</ul>
</div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

        {% block body %}{% endblock %}
        {% block fos_user_content %}
        {% endblock %}
        {% block javascripts %}
        <script src=https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
        <script src="{{asset('js/script.js')}}"></script>
        <script src="//code.jquery.com/jquery.min.js"></script>
        <script src="{{asset('js/bootstrap.min.js')}}"></script>

        {% endblock %}
    </body>
</html>
