{% extends '::base.html.twig' %}

{% trans_default_domain 'FOSUserBundle' %}

    {% block body %}
{{ form_start(form, {'method': 'post', 'action': path('fos_user_registration_register'), 'attr': {'class': 'fos_user_registration_register'}}) }}



    <div class="container">
            <div class="row">
                <div class="col-md-10 col-md-offset-3">
                    <div class="wrapper">
                        <h3 class="text-center">Inscription Association</h3>



                            <div class="col-md-6">
                                <div class="form-group">

                                    {{form_row(form.email)}}

                                </div>
                            </div>

                            <div class="col-md-6">
                                <div class="form-group">

                                    {{form_row(form.username)}}
                                </div>
                            </div>


                            <div class="col-md-6">
                                <div class="form-group">
                                    {{form_row(form.plainPassword.first)}}
                                </div>
                            </div>

                               <div class="col-md-6">
                                <div class="form-group">
                                     {{form_row(form.plainPassword.second)}}
                                </div>
                            </div>


<style>

.wrapper{
    margin-top: 100px;
    background-color: #fff;
    height: 475px;
    border-radius: 5px;
    padding: 15px 50px 25px;
    border-top: 6px solid #CE2347;

    font-weight: bold;
    font-family: "arial black",;
    /*Animation fenetre*/
    transition: all .3s ease-in;
}
.wrapper:hover{
    /*Animation formulaire*/
    transition: all .9s ease-in-out;

    border-top: 6px solid dodgerblue;
}
.wrapper h3{
    font-weight: bold;
    font-family: "arial black",;
}
html body form .btn-primary{
    background-color: crimson;
    border-color: white;
}
body form label{
    margin-bottom: 10px;
}
html body form .btn-primary:hover{
    /*background-color:darkslategray;*/
    background-color:darkcyan;
}
.no-compte{
    color: white;
    text-decoration: none;
    padding-top: 15px;
}
.no-compte>a{
    text-decoration: none;
    color: white;
}
.no-compte a:hover{
    text-decoration:underline;
    color: white;
    border-bottom: 1px solid #FF0000;
}
.btn-primary a:hover{
    text-decoration: none;
    color: white;
}
.btn-primary a{
    text-decoration: none;
    color: white;
}
.oblig{
    font-size: 10px;
}




</style>
<!--<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="wrapper">
                <h3 class="text-center">Inscription Particulier</h3>


                <form action="form">
                    <div class="col-md-6">
                        <div class="form-group">

                            <label for="exampleInputEmail1">Nom *</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Entrer votre nom" >
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">

                            <label for="exampleInputEmail1">Prenom *</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Entrer vottre prenom" >
                        </div>
                    </div>

                    <div class="col-md-6">
                    <div class="form-group">
                    <label for="exampleInputEmail1">Numero de telephone *</label>
                    <input type="number" class="form-control" id="exampleInputEmail1" placeholder="Entrer votre numero tel" >
                    </div>
                    </div>

                    <div class="col-md-6">
                    <div class="form-group">

                    <label for="exampleInputEmail1">Adresse *</label>
                    <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Entrer vottre adresse"  value="{{form_row(form.email)}}">
                    </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">

                            <label for="exampleInputEmail1">Pseudo *</label>
                            <input type="text" class="form-control" id="exampleInputEmail1" placeholder="Entrer un pseudo" required value="{{form_row(form.username)}}">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputEmail1">Adresse Email *</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Entrer vottre email" required>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Mot de passe *</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="mot de passe" required value="{{form_row(form.plainPassword.first)}}">
                        </div>
                    </div>

                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="exampleInputPassword1">Confirmer mot de passe *</label>
                            <input type="password" class="form-control" id="inputPasswordConfirm" data-match="#inputPassword" data-match-error="Votre mot de pass ne corespond pas" placeholder="Confirm" required value="{{form_row(form.plainPassword.second)}}">

                        </div>
                    </div>


                    <div class="col-md-12">
                        <em class="oblig">(*)Obligatoire</em>
                    </div>

                    <div class="col-md-6">
                        <button type="submit" class="btn btn-primary btn1">S'inscrire</button>
                        <button type="submit" class="btn btn-primary"><a href="../pages/page_selected.html">Annuler</a></button>
                    </div>


                </form>
            </div>
        </div>
    </div>
</div>-->


<div class="col-md-12 text-center">
<input type="submit" class=" btn-primary" value="{{ 'registration.submit'|trans }}" />
</div>








{{ form_end(form) }}

{% endblock %}
