{% extends 'base.html.twig' %}

{% block body %}
    <h1>Dons list</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Description</th>
                <th>Category</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for don in dons %}
            <tr>
                <td><a href="{{ path('dons_show', { 'id': don.id }) }}">{{ don.id }}</a></td>
                <td>{{ don.name }}</td>
                <td>{{ don.description }}</td>
                <td>{{ don.category }}</td>
                <td>
                    <ul>
                        <li>
                            <a href="{{ path('dons_show', { 'id': don.id }) }}">show</a>
                        </li>
                        <li>
                            <a href="{{ path('dons_edit', { 'id': don.id }) }}">edit</a>
                        </li>
                    </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <ul>
        <li>
            <a href="{{ path('dons_new') }}">Create a new entry</a>
        </li>
    </ul>
{% endblock %}
